@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


* {
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}


nav {
   display: inline;
   position: fixed;

}

#hambarger {
   display: none;
}

#hambargarmenu {
   display: none;
}

body {
   background-image: url(images/background.png );
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover
}

.icons {
   margin-top: -300px;
   margin-left: 145px;
}

button {
   margin-left: 60px;
}

.custom-btn {
   width: 130px;
   height: 40px;
   color: #000000;
   border-radius: 5px;
   padding: 10px 25px;
   font-family: 'Lato', sans-serif;
   font-weight: 500;
   background: transparent;
   cursor: pointer;
   transition: all 0.3s ease;
   position: relative;
   display: inline-block;
   box-shadow: inset 2px 2px 2px 0px rgba(224, 224, 224, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1),
      4px 4px 5px 0px rgba(0, 0, 0, .1);
   outline: none;
}

.btn-7 {
   background: linear-gradient(0deg, #7DFFFF 0%, #70E2E0 100%);
   line-height: 42px;
   padding: 0;
   border: none;
}

.btn-7 span {
   position: relative;
   display: block;
   width: 100%;
   height: 100%;
}

.btn-7:before,
.btn-7:after {
   position: absolute;
   content: "";
   right: 0;
   bottom: 0;
   background: #70E2E0;
   box-shadow:
      -7px -7px 20px 0px rgba(255, 255, 255, .9),
      -4px -4px 5px 0px rgba(255, 255, 255, .9),
      7px 7px 20px 0px rgba(0, 0, 0, .2),
      4px 4px 5px 0px rgba(0, 0, 0, .3);
   transition: all 0.3s ease;
}

.btn-7:before {
   height: 0%;
   width: 2px;
}

.btn-7:after {
   width: 0%;
   height: 2px;
}

.btn-7:hover {
   color: #70E2E0;
   background: transparent;
}

.btn-7:hover:before {
   height: 100%;
}

.btn-7:hover:after {
   width: 100%;
}

.btn-7 span:before,
.btn-7 span:after {
   position: absolute;
   content: "";
   left: 0;
   top: 0;
   background: #70E2E0;
   box-shadow:
      -7px -7px 20px 0px rgba(255, 255, 255, .9),
      -4px -4px 5px 0px rgba(255, 255, 255, .9),
      7px 7px 20px 0px rgba(0, 0, 0, .2),
      4px 4px 5px 0px rgba(0, 0, 0, .3);
   transition: all 0.3s ease;
}

.btn-7 span:before {
   width: 2px;
   height: 0%;
}

.btn-7 span:after {
   height: 2px;
   width: 0%;
}

.btn-7 span:hover:before {
   height: 100%;
}

.btn-7 span:hover:after {
   width: 100%;
}

.home {
   font-family: 'Audiowide', cursive;
   color: white;
   display: inline-block;
   position: relative;
   writing-mode: vertical-rl;
   font-size: 20px;
   margin-top: -161px;
   margin-bottom: 70px;
   margin-left: 20px;
}

.home:after {
   content: '';
   margin-left: -33px;
   margin-bottom: 30px;
   position: absolute;
   width: 60px;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #70E2E0;
   rotate: 90deg;
   transition: transform 0.25s ease-out;
}

.home:hover:after {
   transform: scaleX(1);
   rotate: 90deg;
}

.about {
   font-family: 'Audiowide', cursive;
   color: white;
   writing-mode: vertical-rl;
   font-size: 20px;
   margin-top: 2px;
   margin-bottom: 70px;
   margin-left: 20px;
}

.about::after {
   content: '';
   margin-left: -17px;
   margin-bottom: 276px;
   position: absolute;
   width: 67px;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #70E2E0;
   rotate: 90deg;
   transition: transform 0.25s ease-out;
}

.about:hover:after {
   transform: scaleX(1);
   rotate: 90deg;
}

.contact {
   font-family: 'Audiowide', cursive;
   color: white;
   writing-mode: vertical-rl;
   font-size: 20px;
   margin-top: 6px;
   margin-bottom: 70px;
   margin-left: 20px;

}

.contact::after {
   content: '';
   margin-left: -27px;
   margin-bottom: 118px;
   position: absolute;
   width: 85px;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: #70E2E0;
   rotate: 90deg;
   transition: transform 0.25s ease-out;
}

.contact:hover:after {
   transform: scaleX(1);
   rotate: 90deg;
}

.navbar {
   overflow: hidden;
   display: block;
   position: fixed;
   top: 0;
   width: 100%;
   z-index: -1;
}

#heading1 {

   color: white;
   margin-top: 300px;
   margin-left: 200px;
   font-family: 'Audiowide', cursive;
   letter-spacing: 2px;
   font-size: 48px;
   padding-bottom: 10px;
}


.container {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.text{
   margin-left: 200px;
   color: white;
   font-size: 20px;
}
.profession-container{
   margin-left: -200px;
   border-right: 2px solid gray;
   
}
#text-profession{
   color: #54fffc;
}


h3 {
   display: flex;
   color: rgb(122, 121, 121);
   margin-top: 26px;
   margin-left: 270px;
   font-family: 'Audiowide', cursive;
   letter-spacing: 2px;
   font-size: 20px;
   overflow: hidden;
   white-space: nowrap;
}


#heading2 {

   padding-top: 300px;
   height: 350px;
   color: white;
   margin-top: 380px;
   margin-left: 230px;
   font-family: 'Audiowide', cursive;
   letter-spacing: 2px;
   font-size: 48px;
}

.typed2 {
   color: rgb(122, 121, 121);
   margin-top: 27px;
   margin-left: 230px;
   font-family: 'Audiowide', cursive;
   letter-spacing: 2px;
   font-size: 20px;
   width: 750px;
}

#heading3 {
   color: white;
   margin-top: 600px;
   margin-left: 200px;
   font-family: 'Audiowide', cursive;
   letter-spacing: 2px;
   font-size: 48px;
}

#heading4 {
   padding-top: 100px;
   height: 160px;
   color: white;
   margin-top: 600px;
   margin-left: 200px;
   font-family: 'Audiowide', cursive;
   letter-spacing: 2px;
   font-size: 48px;
}

#heading5 {
   color: white;
   margin-top: 15px;
   margin-left: 200px;
   font-family: 'Audiowide', cursive;
   letter-spacing: 2px;
   font-size: 15px;
}

@keyframes typing {
   from {
      width: 0
   }

   to {
      width: 100%
   }
}


.cube {

   width: 100px;
   height: 400px;
   transform-style: preserve-3d;
   animation: animate 15s linear infinite;
}

@keyframes animate {
   0% {
      transform: rotateX(-30deg) rotateY(0deg);
   }

   100% {
      transform: rotateX(-30deg) rotateY(360deg);
   }
}

.cube div {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   transform: rotate(7deg);
}

.cube div span {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 4px solid #7DFFFF;
   box-shadow: 0 0 08px #70E2E0, inset 0 0px 8px #70E2E0;
   transform: rotateY(calc(90deg*var(--i)))translateZ(50px);

}

.cube1 {

   width: 100px;
   height: 400px;
   transform-style: preserve-3d;
   animation: animate 15s linear infinite;


}

@keyframes animate {
   0% {
      transform: rotateX(-30deg) rotateY(0deg);
   }

   100% {
      transform: rotateX(-30deg) rotateY(360deg);
   }
}

.cube1 div {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   transform: rotate(-7deg);
}

.cube1 div span {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 2px solid #7DFFFF;
   border-top: 0px;
   border-bottom: 0px;
   transform: rotateY(calc(90deg*var(--i)))translateZ(50px);

}
.skills {
   width: 100%;
   max-width: 600px;
   margin-left: 200px;
}

.skill-name {
   font-size: 18px;
   font-weight: 700;
   color: #7DFFFF;
   font-family: 'Audiowide', cursive;
   text-transform: uppercase;
   margin: 20px 0;
}

.skill-bar {
   height: 14px;
   background: #282828;
   border-radius: 3px;
}

.skill-per {
   height: 14px;
   background: #7DFFFF;
   border-radius: 3px;
   position: relative;
   animation: fillBars 2.5s 1;
}

.skill-per::before {
   content: attr(per);
   position: absolute;
   padding: 4px 6px;
   border-radius: 4px;
   font-size: 12px;
   top: -35px;
   right: 0;
   transform: translateX(50%);
}

.skill-per::after {
   content: "";
   position: absolute;
   width: 10px;
   height: 10px;
   top: -20px;
   right: 0;
   transform: translateX(50%) rotate(45deg);
   border-radius: 2px;
}

@keyframes fillBars {
   from {
      width: 0;
   }

   to {
      width: 100%;
   }
}

#projects {
   color: white;
   margin-top: 700px;
   margin-left: 200px;
   font-family: 'Audiowide', cursive;
   letter-spacing: 2px;
   font-size: 48px;   
   width:500 px;
   }


#project1 {
   width: 400px;
   height: 250px;
   display: flex;
   object-fit: cover;
   margin-left: 200px;
   margin-top: 100px;

}

#project1 img {
   display: flex;
   width: 400px;
   height: 250px;
}

#project1 img {
   transition: 1s ease;
}

#project1 img:hover {
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   transition: 1s ease;
}

#heading6 {
   display: flex;
   color: rgb(122, 121, 121);
   margin-top: 27px;
   margin-left: 200px;
   font-family: 'Audiowide', cursive;
   letter-spacing: 2px;
   font-size: 20px;
   width: 400px;
}

#project2 {
   width: 400px;
   height: 250px;
   display: flex;
   object-fit: cover;
   margin-left: 700px;
   margin-top: -250px;
   background: no-repeat center center/cover;

}
.fa-solid, .fas {
   font-weight: 900;
   margin-top: 5px;
   margin-left: 15px;
}
#heading8 {
   display: flex;
   color: rgb(122, 121, 121);
   margin-top: 27px;
   margin-left: 200px;
   font-family: 'Audiowide', cursive;
   letter-spacing: 2px;
   font-size: 20px;
   width: 400px;
}

#project2 img {
   display: flex;
   width: 400px;
   height: 250px;
}

#project2 img {
   transition: 1s ease;
}

#project2 img:hover {
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   transition: 1s ease;
}

#heading7 {
   display: flex;
   color: rgb(122, 121, 121);
   margin-top: -25px;
   margin-left: 700px;
   font-family: 'Audiowide', cursive;
   letter-spacing: 2px;
   font-size: 20px;
   width: 400px;
}

#project3 {
   width: 400px;
   height: 250px;
   display: flex;
   object-fit: cover;
   margin-left: 200px;
   margin-top: 100px;
   background: no-repeat center center/cover;
}

#project3 img {
   display: flex;
   width: 400px;
   height: 250px;
}

#project3 img {
   transition: 1s ease;
}

#project3 img:hover {
   -webkit-transform: scale(1.1);
   -ms-transform: scale(1.1);
   transform: scale(1.1);
   transition: 1s ease;
}

#heading13 {
   display: flex;
   color: rgb(122, 121, 121);
   margin-top: 27px;
   margin-left: 200px;
   font-family: 'Audiowide', cursive;
   letter-spacing: 2px;
   font-size: 20px;
   width: 400px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;
}

.container1 {
   min-height: 67vh;
   background: #08071d;
   justify-content: center;
   align-items: center;
   background: no-repeat center center/cover;
}

.container1 form {
   width: 670px;
   height: 400px;
   display: flex;
   margin-left: 250px;
   margin-top: 50px;
   justify-content: center;
   box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
   border-radius: 15px;
   background: rgba(255, 255, 255, 0.1);
   backdrop-filter: blur(10px);
   flex-wrap: wrap;
}

.container1 form h1 {
   color: #fff;
   font-family: 'Audiowide', cursive;
   font-weight: 500;
   margin-top: 20px;
   width: 500px;
   text-align: center;
}

.container1 form input {
   width: 290px;
   height: 40px;
   padding-left: 10px;
   
   outline: none;
   border: none;
   font-family: 'Audiowide', cursive;
   font-size: 15px;
   margin-bottom: 10px;
   color: white;
   background: none;
   border-bottom: 2px solid #fff;
}

.container1 form input::placeholder {
   color: #ffffff;
}


.container1 form #lastName,
.container1 form #mobile {
   margin-left: 20px;
}

.container1 form h4 {
   color: #fff;
   font-family: 'Audiowide', cursive;
   font-weight: 300;
   width: 600px;
   margin-top: 20px;
}

.container1 form textarea {
   background: none;
   border: none;
   border-bottom: 2px solid #fff;
   color: #fff;
   font-family: 'Audiowide', cursive;
   font-weight: 200;
   font-size: 15px;
   outline: none;
   width: 600px;
}
textarea::placeholder{
   color: white;
}



.container1 form #button {
   border: none;
   background: #fff;
   border-radius: 5px;
   margin-top: 20px;
   font-family: 'Audiowide', cursive;
   font-weight: 600;
   font-size: 20px;
   color: #333;
   width: 100px;
   padding: 0;
   margin-right: 500px;
   margin-bottom: 30px;
   transition: 0.3s;
}

.container1 form #button:hover {
   opacity: 0.7;
}

#heading8 {
   font-weight: 700;
   color: #fff;
   margin-left: 659px;
}

#heading9 {
   color: #c1c1c1;
   font-size: 13px;
   margin-left: 710px;
}

#heading10 {
   font-family: "Audiowide", sans-serif;
   font-size: 18px;
   font-weight: 300;
   background: linear-gradient(180deg, #54fffc, #2c8683);
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
   margin-left: 663px;
}

#heading11 {
   color: #c1c1c1;
   font-size: 13px;
   margin-left: 692px;
}

#heading12 {
   color: #c1c1c1;
   font-size: 13px;
   margin-left: 627px;
   margin-bottom: 50px;
}

#heading12 a {
   text-decoration: none;
   color: #70E2E0;

}

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}





footer{
   color: white;
   margin-left: 630px;
   padding-bottom: 20px;
}
#copy {
   color: white;
   margin-left: 695px;
}
.designer {
   opacity: 0.7;
   text-transform: 1px;
   letter-spacing: 1px;
   font-weight: 400;
   margin: 0px 5px;
}

body {
   background-color: black;
}

::-webkit-scrollbar {
   width: 12px;
}

::-webkit-scrollbar-thumb {
   background: linear-gradient(transparent, #7DFFFF);
   border-radius: 6px;
}

.logo {
   width: 240px;
   height: 42px;
   margin-top: 20px;
   margin-left: 1250px;
}

.shortlogo {
   width: 70px;
   height: 50px;
   margin-top: 20px;
   margin-left: 1250px;
   display: none;
}

.cube {
   margin-left: 1200px;
   margin-top: -100px;
   position: fixed
}

.cube1 {
   margin-left: 1200px;
   margin-top: 235px;
   position: fixed
}

@media only screen and (max-width:767px) {
  body{
   height: 100%;
   width: 100%;
  }

   .nav-links {
      display: none;
   }

   #hambarger {
      display: flex;
      height: 110px;
      margin-left: 50px;
      margin-top: -720px;
      position: fixed;
      
   }

   #hambargarmenu {
      position: fixed;
      margin-top: -800px;
      height: 100%;
      width: 50%;
      background-color: black;
      margin-left: 0px;
      z-index: 100;
      transform: translateX(-100%);
   }
   #close-menu{
      display: flex;
      height: 115px;
      margin-left: 60px;
      margin-top: 140px;
      position: fixed;
   }
   li{
      width: fit-content;
   }
   #home{
      color: white;
      font-size: 57px;
      margin-top: 680px;
      writing-mode: horizontal-tb;
      margin-left: 170px;
      width: fit-content;
      font-family: 'Audiowide';
     
   }
   #about{
      color: white;
      font-size: 57px;
      margin-top: 875px;
      writing-mode: horizontal-tb;
      margin-left: -190px;
      font-family: 'Audiowide';
  }
  #project {
   color: white;
   font-size: 57px;
   margin-top: 1070px;
   writing-mode: horizontal-tb;
   margin-left: -225px;
   font-family: 'Audiowide';
}
#contact {
   color: white;
   font-size: 57px;
   margin-top: 1270px;
   writing-mode: horizontal-tb;
   margin-left: -260px;
   font-family: 'Audiowide';
}
   .logo {
      display: none;

   }

   .shortlogo {
      width: 200px;
      height: 150px;
      margin-top: 81px;
      margin-left: 858px;
      display: flex;
   }

   #heading1 {
      font-size: 70px;
      margin-top: 800px;
      padding-bottom: 10px;
      width: 600px;
   }
   .text{
      font-size: 35px;
   }
   .container {

      margin-left: 820px;
      margin-top: 62px;
   }

   .container pre {
      font-size: 30px;
   }

   .icons {
      height: 200px;
      width: 500px;
      margin-top: -320px;
      margin-left: 145px;
   }

   .custom-btn {
      width: 250px;
      height: 60px;
      font-size: 25px;
      padding: 10px 25px;
      z-index: -1;
      
   }

   .cube {
      margin-left: 800px;
      /* margin-top: 450px; */
      height: 650px;
   }

   .cube1 {
      display: none;
      visibility: hidden;
   }

   #heading2 {
      font-size: 80px;
   }


   .typed2 {
      font-size: 35px;
      width: 550px;
      margin-top: 100px;
   }

   #heading3 {
      font-size: 80px;
   }

   .skills {
      width: 540px;
   }
   .skill-name {
   font-size: 20px;
   }
   #projects {
      color: white;
      margin-top: 700px;
      margin-left: 200px;
      font-family: 'Audiowide', cursive;
      letter-spacing: 2px;
      font-size: 80px;
      width: 690px;
  }
  #project1 {
   position: relative;
   width: 650px;
   height: 450px;
   display: flex;
   object-fit: cover;
   margin-left: 200px;
   margin-top: 100px;
   background-color: black;
   z-index: 1;
}

#project1 img {

   width: 650px;
   height: 450px;

}


   #project2 img {

      margin-top: 450px;
      margin-left: -500px;
      position: relative;
      width: 650px;
      height: 450px;
      display: flex;
      object-fit: cover;
      background-color: black;
      z-index: 1;
   }

   #heading6 {
      font-size: 45px;
      width: 550px;
   }

   #heading7 {
      margin-top: 530px;
      margin-left: 211px;
      font-size: 45px;
      width: 550px;
   }

   #heading13 {
      display: flex;
      color: rgb(122, 121, 121);
      margin-top: 27px;
      margin-left: 200px;
      font-family: 'Audiowide', cursive;
      letter-spacing: 2px;
      font-size: 35px;
      width: 400px;
   }

   #heading4 {
      font-size: 80px;
      width: 300px;
   }

   #heading5 {
      font-size: 35px;
      margin-top: 50px;
      width: 400px;
   }


   footer {
      margin-top: 90px;
      margin-left: 300px;
      width: 700px;
      font-size: 25px;
      margin-bottom: 50px;
  }

   .home:after {
   display: none;
   visibility: hidden;
   }

   .about::after {
      display: none;
      visibility: hidden;
   }

   .contact::after {
      display: none;
      visibility: hidden;
   }
   .extra{
      height: 1px;
      width: 500px;
   }
   .container1 form {
      width: 890px;
      height: 850px;
      margin-left: 100px;
      padding-top: 50px;
      justify-content: center;
      display: flex;
      align-items: center;
      margin-top: 100px;
      border-radius: 45px;
   }

   .container1 form input {
      width: 660px;
      height: 40px;
      margin-bottom: -0px;      
      font-size: 25px;
      margin-top: 0px;
  }
  #email {
   margin-left: 20px;
}
.container1 form textarea {
   background: none;
   border: none;
   border-bottom: 2px solid #fff;
   color: #fff;
   font-family: 'Audiowide', cursive;
   font-weight: 200;
   font-size: 15px;
   outline: none;
   width: 660px;
   margin-left: 20px;
   height: 150px;
}
.container1 form #button {
   
   margin-top: 20px;
   margin-left: 70px;
   font-size: 25px;
   width: 200px;
   height: 60px;
}
textarea::placeholder{
   font-size: 25px;
}
}