@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


* {
   margin: 0;
   padding: 0;
   scroll-behavior:smooth;
}
::-webkit-scrollbar {
   width: 12px;
}

::-webkit-scrollbar-thumb {
   background: linear-gradient(transparent, #7DFFFF);
   border-radius: 6px;
}

nav {
   display: inline;
   position: fixed;

}

#hambarger {
   display: none;
}

#hambargarmenu {
   display: none;
}
body {
   background-image: url(images/background.png );
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover
}
:root{
   font-family: audiowide;
}
#title{
    margin-top: 100px;
    margin-left: 200px;
    font-size: 45px;
    font-family: audiowide;
    color: white;
}
.home {
    width: fit-content;
    font-family: 'Audiowide', cursive;
    color: white;
    display: flex;
    position: relative;
    writing-mode:vertical-rl;
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 20px;
 }
 .home:after {
    content: '';
    margin-left: -33px;
    margin-bottom: 30px;
    position: absolute;
    width: 60px;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #70E2E0;
    rotate: 90deg;
    transition: transform 0.25s ease-out;
 }
 .home:hover:after {
    transform: scaleX(1);
    rotate: 90deg;
 }
 .about {
    font-family: 'Audiowide', cursive;
    color: white;
    writing-mode: vertical-rl;
    font-size: 20px;
    margin-top: 2px;
    margin-bottom: 70px;
    margin-left: 20px;
 }
 .about::after {
    content: '';
    margin-left: -17px;
    margin-bottom: 276px;
    position: absolute;
    width: 67px;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #70E2E0;
    rotate: 90deg;
    transition: transform 0.25s ease-out;
 }
 
 .about:hover:after {
    transform: scaleX(1);
    rotate: 90deg;
 }
 
 .contact {
    font-family: 'Audiowide', cursive;
    color: white;
    writing-mode: vertical-rl;
    font-size: 20px;
    margin-top: 6px;
    margin-bottom: 70px;
    margin-left: 20px;
 
 }
 
 .contact::after {
    content: '';
    margin-left: -27px;
    margin-bottom: 118px;
    position: absolute;
    width: 85px;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #70E2E0;
    rotate: 90deg;
    transition: transform 0.25s ease-out;
 }
 
 .contact:hover:after {
    transform: scaleX(1);
    rotate: 90deg;
 }
.navbar {
    overflow: hidden;
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
 }

 .logo{
    width: 240px; 
    height: 42px; 
    margin-top: 20px; 
    margin-left: 1250px;
 }
 .shortlogo{
    width: 70px; 
    height: 50px; 
    margin-top: 20px; 
    margin-left: 1250px;
    display: none;   
 }

 

 .first-row{
   display: flex;  
   margin-left: 200px;
   margin-top: 50px;
   gap: 50px;

   
 }
 .project1{
   width: 350px;
   height: 350px;
   background: rgba(255, 255, 255, 0.1);
   border-radius: 20px;
 }
 #project1{
   width: 300px;
   height: 200px;
   margin-left: 25px;
   margin-top: 20px;
   border-radius: 10px;
 }
 #project-text-1{
   margin-left: 25px;
   width: 300px;
   color: white;
   margin-top: 10px;
   
 }
 .project2{
   width: 350px;
   height: 350px;
   background: rgba(255, 255, 255, 0.1);
   border-radius: 20px;
 }
 #project2{
   width: 300px;
   height: 200px;
   margin-left: 25px;
   margin-top: 20px;
   border-radius: 10px;
 }
 #project-text-2{
   margin-left: 25px;
   width: 300px;
   color: white;
   margin-top: 10px;
   
 }
 .cube {
   position: fixed;
   margin-top: 100px;
   margin-left: 1150px;
   width: 100px;
   height: 400px;
   transform-style: preserve-3d;
   animation: animate 15s linear infinite; 

}
 @keyframes animate {
    0% {
       transform: rotateX(-30deg) rotateY(0deg);
    }
 
    100% {
       transform: rotateX(-30deg) rotateY(360deg);
    }
 }
 
 .cube div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotate(7deg);
 }
 
 .cube div span {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #7DFFFF; 
    box-shadow: 0 0 08px #70E2E0, inset 0 0px 8px #70E2E0; 
    transform: rotateY(calc(90deg*var(--i)))translateZ(50px);
 
 }
 .cube1 {

   width: 100px;
   height: 400px;
   transform-style: preserve-3d;
   animation: animate 15s linear infinite;


}

@keyframes animate {
   0% {
      transform: rotateX(-30deg) rotateY(0deg);
   }

   100% {
      transform: rotateX(-30deg) rotateY(360deg);
   }
}

.cube1 div {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   transform-style: preserve-3d;
   transform: rotate(-7deg);
}

.cube1 div span {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border: 2px solid #7DFFFF;
   border-top: 0px;
   border-bottom: 0px;
   transform: rotateY(calc(90deg*var(--i)))translateZ(50px);

}

.space{
   height:100px;
}
@media (max-width:767px) 
{
   .navbar {
      display: inline;
      position: relative;
   
   }


   .nav-links {
      display: none;
   }

   #hambarger {
      display: flex;
      height: 43px;
      margin-left: 20px;
      margin-top: 32px;
      z-index: 99;
      position: relative;
  }
  #hambargarmenu {
   position: fixed;
   margin-top: -30px;
   height: 100%;
   width: 50%;
   background-color: black;
   margin-left: 0px;
   z-index: 100;
   transform: translateX(-100%);
}
#close-menu {
   display: flex;
   height: 43px;
   margin-left: 23px;
   margin-top: 53px;
   position: fixed;
}

   li {
      width: fit-content;
   }

   #home {
      color: white;
      font-size: 22px;
      margin-top: 255px;
      writing-mode: horizontal-tb;
      margin-left: 65px;
      width: fit-content;
  }

  #about {
      color: white;
      font-size: 22px;
      margin-top: 329px;
      writing-mode: horizontal-tb;
      margin-left: -73px;
  }
  #project {
      color: white;
      font-size: 22px;
      margin-top: 405px;
      writing-mode: horizontal-tb;
      margin-left: -85px;
  }
  #contact {
      color: white;
      font-size: 22px;
      margin-top: 480px;
      writing-mode: horizontal-tb;
      margin-left: -100px;
  }
   .logo {
      display: none;

   }

   .shortlogo {
      width: 80px;
      height: 58px;
      margin-top: -42px;
      margin-left: 312px;
      display: flex;
  }
   .home:after {
      display: none;
      visibility: hidden;
   }

   .about::after {
      display: none;
      visibility: hidden;
   }

   .contact::after {
      display: none;
      visibility: hidden;
   }
   #title {
      margin-top: 50px;
      margin-left: 110px;
      font-size: 35px;
      font-family: audiowide;
      color: white;
  }
   .first-row {
      display: grid;
      margin-left: 30px;
      margin-top: 50px;
      gap: 50px;
  }
  

  .space{
   width: 420px;
  }
}